.left-col,
.mid-col,
.right-col {
  height: 100%;
  min-height: 100vh;
  display: inline-block;
  padding: 1rem;
}

.left-col {
  width: 200px;
  float: left;
  border-right: 1px solid #000;
}
.mid-col {
  min-width: 100px;
}

.right-col {
  width: 300px;
  float: right;
  border-left: 1px solid #000;
}
.inputnumber {
  position: relative;
}
