<div class="left-col">
  <input type="text" class="inputnumber" [(ngModel)]="inputnumber" autofocus placeholder="type the number"
    (change)="onInputChangeEvent($event)" />
</div>
<div class="mid-col">
  <select [(ngModel)]="selected" (change)="onSelectChangeEvent($event)">
    <option value="isPrime">isPrime</option>
    <option value="isFibonacci">isFibonacci</option>
  </select>
</div>
<div class="right-col">
  {{result}}
</div>
<div style="clear: both;"></div>
