<div class="container">
  <div>
    <input type="type" placeholder="search category" (keyup)="onCategoryFilterEvent($event)" />
  </div>
  <div *ngIf="tmp != null">
    <table>
      <thead>
        <th>Category</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of tmp;">
          <td>
            {{item}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
