.container {
  padding: 1rem;
}

table {
  border-spacing: unset;
}
tr th,
tr td {
  border: 1px solid #e3e3e3;
  padding: 5px;
}

tr:nth-child(even) {
  background: rgb(245, 245, 245);
}
