/* You can add global styles to this file, and also import other style files */
html,body{
  font-size: 14px;;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  // overflow: hidden;
  font-family: Tahoma,serif;
}

/*## Responsive ##*/
@media (max-height: 600px) {
  html {
    overflow: scroll;
  }
}
